<div id="container-popup-creer-todo">
    <h3>ajouter une todo</h3>
    <form id="form-creer-todo" [formGroup]="fg">
        <div id="titre">
            <label for="titre"> titre </label>
            <input type="text" id="titre" formControlName="titre">
        </div>
        <div id="description">
            <label for="description"> description </label>
            <input type="text" id="description" formControlName = "description">
        </div>
    </form>
    <div id="choix">
        <div id="annuler" (click)="quitterEcran()"> annuler </div>
        <div id="valider" (click)="sauvegarder()"> valider </div>
    </div>
</div>