
div#container-popup-creer-todo{
    background-color: lightblue;
    padding: 1rem;
}

div#container-popup-creer-todo,
div#form-creer-todo{
    display: flex;
    flex-direction: column;
}

div#titre,div#description,div#choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#choix{
    margin-top: 2rem;
}

div#valider{
    margin-left: auto;
    background-color: lightgreen;
}
div#annuler{
    margin-right: auto;
    background-color: tomato;
}

div#valider,div#annuler{
    padding: 0.2rem 0.5rem;
    flex: 0 1 6rem;
    text-align: center;
    border: solid 1px black;
}

