div#container-app{
    display: grid;
    grid-template-rows: 5fr 10fr 5fr;
    grid-template-columns: 5fr 10fr 5fr;
}

div#current-list{
    grid-row: 1/3;
    grid-column: 1/-1;
}

div#crossed-list{
    grid-row: 3/4;
    grid-column: 1/-1;
}

hr{
    margin: 2rem 0;
}

div#todo-detail{
    grid-row: 2/3;
    grid-column: 2/3;
}

